/*CSS genrales*/
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #222;
    color: white;
    font: 200 14px 'Poppins', sans-serif;
}

h2{
    font-size: 36px;
    line-height: 36px;
}

h3{
    color: #999;
    font-size: 18px;
    font-weight: 300;
}

nav{
    position: fixed;
    height: 55px;
    width: 100%;
    background-color: #000;
    border-bottom: 1px solid white;
    padding-top: 10px;
    text-align: center;
}

nav ul{
    display: inline-block;
}

nav ul li{
    padding: 12px;
}

section{
    padding: 30px 100px 30px 100px;   
}

p{
    text-align: justify;
}

cite{
    font-weight: 300;
}

i{
    font-size: 24px;
}

i:hover{
    color: #ffc900;
}

a{
    text-decoration: none;
}

a:any-link{
    color: white;
}

a:-webkit-any-link{
    color: white;
}

a:-moz-any-link{
    color: white;
}

a:hover{
    color: #ffc900;
}

ul{
    list-style: none;
}

li{
    float: left;
    margin-right: 5px;
}

button{
    border-radius: 10px;
}

footer{
    height: 55px;
    padding-top: 10px;
    text-align: center;
}

footer ul{
    display: inline-block;
}

footer ul li{
    float:left;
}

/*CSS IDs y clase*/
.hastag{
    color: #ffc900;
}

.masinfo button{
    background-color: #ffc900;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    padding: 5px;
}

#logo{
    padding-top: 0px;
}

#inicio{
    background-image: url(../imagenes/inicio.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 280px;
    padding-top: 75px;
}

#portfolio{
    border-top: 1px solid #ffc900;
}

#experiencia{
    background-color: white;
    color: #222;
}

.masinfo button{
    background-color: #ffc900;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    padding: 5px;
}

#contactar{
    background-image: url("../imagenes/fondo_contactar.png");
    background-repeat: no-repeat;
    background-position: right;
}

/*Grid sobremi*/

#sobremi{
    display: grid;
    grid-template-columns: 250px 1fr;
}

#sobremi h2{
    margin-bottom: 15px;
}

#sobremi .masinfo {
    margin-top: 15px;
}

#sobremi .masinfo button{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

/*Card portfolio*/

.filaportfolio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 30px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.card{
    width: 250px;
    background-color: #191919;
    border-radius: 15px;
}

.card img, .card video, .card iframe{
    border-radius: 15px 15px 0 0;
}

.card h3{
    color: #ffc900;
}

.card h4{
    margin: 0 5px 5px 0;
}

.card h3, .card h4, .card p, .card .masinfo{
    padding: 0 15px;
}

.card .masinfo{
    margin: 15px 0px 15px 0px;
    height: 26px;
}

.card .sep{
    margin: 0 5px 5px 0;
    border: 1px solid #ffc900;
}

.card .masinfo button{
    float: right;
}


/*Card experiencia*/
.gridexp{
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-gap: 10px;
    justify-content: space-between;
    align-content: space-around;
}

.cardexp{
    background-color: #222;
    border-radius: 15px;
    color: white;
    padding: 10px 15px;
}

.cardexp h2{
    margin-bottom: 5px;
}

.cardexp h3{
    margin-bottom: 20px;
}

.cardexp p{
    margin-bottom: 20px;
}

.cardexp ul{
    display: flex;
    justify-content: end;
}

.cardexp li{
    height: 30px;
}

/*Formulario*/

.itemform{
    display: grid;
    grid-template-columns: 150px 350px;
    justify-content: center;
    margin-bottom: 10px;
}

.itemform label{
    font-weight: 700;
}

.itemform input, .itemform textarea{
    border-radius: 5px;
    border: 1px solid white;
}

input[type="submit"]{
    background-color: #222;
    color: white;
    padding: 10px;
    grid-column: 2/3;
    justify-self: end;
}

